@media screen and (max-width: 767px) {
	.wpb_animate_when_almost_visible {
	    opacity: 1;
	    filter: alpha(opacity=100);
	    -webkit-animation: none;
	    -moz-animation: none;
	    -o-animation: none;
	    animation: none;
	}
}